<nav class="navbar navbar-expand-md navbar-light ">
    <a class="navbar-brand">
        <img src="./assets/images/white-rabbit.png" [routerLink]="['/home/userList']" alt="" class="brand-img cursor-pointer">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" >
        </div>
        <div class="navbar-nav ml-auto">
            <a class="nav-item nav-link" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <img src="./assets/images/admin.jpg" alt="" class="profile-img">

                <div
                class="dropdown-menu dropdown-menu-right animated fadeIn"
                aria-labelledby="navbarDropdown"
              > 
                <a class="dropdown-item" style="cursor: pointer;" (click)="logout()">Log out</a>
                
              </div>
            </a>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>